body{
    height: 100vh;
    width: 100hw;
    font-family: 'IBM Plex Sans', sans-serif;
}

#left-nav-bar{
    height: 100vh;
    background: #002D9C;
    position:relative;
}

#ibm-logo{
    width: 85%;
    margin: 20px;
    position:absolute;
    bottom:0;
}

#request-form{
    margin: 20px;
    margin-right: 40px;
    display: block;
}

#submit-form{
    background: #002D9C;
}

.col-9-override{
    padding-left: 0px;
    padding-right: 0px;
}

.col-3-override{
    padding-right: 0px;
}