body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

#left-nav-bar{
    min-height: 100vh;
    display: flex;
    background: #002D9C;
}

#ibm-logo{
    width: 80%;
    align-self: flex-end;
    margin: 0 auto;
    margin-bottom: 20px;
}

#request-form{
    width: 95%;
    margin: 25px auto;
}

#submit-form-btn{
    background: #002D9C;
}

.col-10-override{
    padding-left: 0px;
}
